
@{
    Layout = "~/Views/Shared/_ AdminLayoutPage.cshtml";
}
@section PageSec
{
    <section class="home-section" id="home">
            <div class="home-content">
                    <!-- <i class='bx bx-menu' id="menu"></i> -->
                    <span class="text">Hello</span>
            </div>
    </section>
}