@model Resources.Models.Crashing

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ AdminLayoutPage.cshtml";
}
@section PageSec{
     <section class="home-section" id="home">
         <div class="home-content" >

            <div class="container p-3 mt-4 border "  style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
             <h1  class="projectName mt-3">Edit <span>Issues</span></h1>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
               <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptimisticDuration" class="control-label"></label>
                <input asp-for="OptimisticDuration" class="form-control" />
                <span asp-validation-for="OptimisticDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostLikelyDuration" class="control-label"></label>
                <input asp-for="MostLikelyDuration" class="form-control" />
                <span asp-validation-for="MostLikelyDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PessimesticDuration" class="control-label"></label>
                <input asp-for="PessimesticDuration" class="form-control" />
                <span asp-validation-for="PessimesticDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskId" class="control-label"></label>
                <input asp-for="TaskId" class="form-control" />
                <span asp-validation-for="TaskId" class="text-danger"></span>
            </div>
          <div class="form-group">
                <label asp-for="RequiredTime" class="control-label"></label>
                <input asp-for="RequiredTime" class="form-control" />
                <span asp-validation-for="RequiredTime" class="text-danger"></span>
            </div>

        </form>
        <div>
            <a asp-action="Index" class="bttn mr-3 px-3"><i class="fa-solid fa-circle-left"></i></a>
            <input type="submit" value="Save" class="bttn" />
           
        </div>
    </div>
</div>


</div>
</section>

}


